@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
.selected-chip {
  background-image: linear-gradient(to bottom,#00DFAF, #008A70) !important;
  color: white !important;
}

.star-rating {
  font-size: 1.5rem;
  color: #d3d3d3;
  cursor: pointer;
  user-select: none;
}

.star.filled {
  color: #63D3B6;
}