.st1{fill:none;stroke:#E52421;stroke-width:2.5;stroke-miterlimit:10;stroke-dasharray:9.01,9.01;}
.st3{font-family:'MyriadPro-Regular';}
.st4{font-size:7.2313px;}
.st5{font-size:5.4235px;}
.st6{fill:none;stroke:#010202;stroke-miterlimit:10;}
.st7{fill:#E52421;}
.st9{fill:none;stroke:#000000;stroke-miterlimit:10;}

