<ng-container [ngTemplateOutlet]="magnifyTemplate" [ngTemplateOutletContext]="{ templateToMagnify: contentTemplate }"></ng-container>

<ng-template #magnifyTemplate let-templateToMagnify="templateToMagnify">
    <div #container class="magnify-container"
        (mousemove)="onDivMouseMove($event)"
        (mouseenter)="showMagnifier = true"
        (mouseleave)="showMagnifier = false"
        style="position: relative; display: inline-block;">

            <div>
                <ng-container [ngTemplateOutlet]="templateToMagnify"></ng-container>
            </div>

            <!-- <div class="svg-magnifier" *ngIf="showMagnifier" [style.left.px]="magnifierX" [style.top.px]="magnifierY"> -->
                <!-- <div class="magnified-content" [style.left.px]="-zoomX" [style.top.px]="-zoomY" [style.transform]="'scale(' + zoom + ')'"> -->
                    <!-- <ng-container [ngTemplateOutlet]="templateToMagnify"></ng-container> -->
                <!-- </div> -->
            <!-- </div> -->
        
    </div>
</ng-template>