::ng-deep .mat-mdc-tab-label-container {
    border-bottom: none !important;
}

::ng-deep .mdc-tab__text-label {
    font-size: x-large !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border: solid 3px #C5E2DA !important;
}


.customGradientButtons {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    border:1px solid #E4E4E4;
}

.customGradientButtons.active {
    background: linear-gradient(to bottom, #FFE9FF, #ADE3D0);
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    border: none;
}

.signupButton{
    background: #5ecda7;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  color:#000000;
  font-weight: 500;
  font-size: 1.1rem;
}