.loginFormMain {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.788);
}

.loginButton {
  background: #36a6f2;
  border: none;
  outline: none;
  border-radius: 400px;
  padding: 8px;
  width: 100%;
  max-width: 120px;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.inputLabels {
  width: 100%;
}

.customInputFields {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.customInputFields::placeholder {
  color: rgba(0, 0, 0, 0.342);
}

.customPreActivatedButtons {
  background-image: linear-gradient(to top, #008a70, #00dfaf);
  border: none;
  color: white;
  width: 100%;
  max-width: max-content;
  border-radius: 300px;
  padding: 7px 30px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.dialog-content {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}